<p-dialog [visible]="openDialog" [style]="{ height:'600px', width: '600px'  }" header="Ingresar Usuario" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div style="display: grid; gap: 10px; padding: 20px;">
            
            <div class="inputbox">
                <input type="text" maxlength="20" pInputText id="DocumentNumber" [(ngModel)]="userDtol.documentNumber" required
                    autofocus />
                <span>Documento</span>
            </div>
            <p-dropdown [(ngModel)]="userDtol.documentType" [options]="tipeDoc" placeholder="Tipo de documento"
                [virtualScroll]="true" [virtualScrollItemSize]="20" [showClear]="true">
            </p-dropdown>
            <br>
            
            <div class="inputbox">
                <input type="text" maxlength="100" pInputText id="FirstName" [(ngModel)]="userDtol.firstName" required autofocus />
                <span>Nombre</span>
            </div>
            <div class="inputbox">
                <input type="text" maxlength="100" pInputText id="LastName" [(ngModel)]="userDtol.lastName" required autofocus />
                <span>Apellido</span>
            </div>
            <div class="inputbox">
                <input type="text" maxlength="100" pInputText id="Email" [(ngModel)]="userDtol.email" required autofocus />
                <span>Email</span>
            </div>
            <div class="inputbox">
                <input type="password" maxlength="100" pInputText id="Password" [(ngModel)]="userDtol.password" required
                    autofocus />
                <span>Contraseña</span>
            </div>
            <div>
                <p-dropdown [(ngModel)]="userDtol.role" [options]="statusesRole" placeholder="Seleccione el estado"
                    [virtualScroll]="true" [virtualScrollItemSize]="20" [showClear]="true">
                </p-dropdown>
            </div>
            <div>
                <p-dropdown [(ngModel)]="userDtol.state" [options]="statuses" placeholder="Seleccione el estado"
                    [virtualScroll]="true" [virtualScrollItemSize]="20" [showClear]="true">
                </p-dropdown>
            </div>
            </div>
            <p-message *ngIf="!validForm" severity="error" text="Debe ingresar datos">
            </p-message>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
                    (click)="saveTask($event)"></button>
            </ng-template>
            </p-dialog>